:root {
    --primary-color: rgb(238, 75, 43);
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #FFCE3E;
    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height: 46px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Responsive */

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Test */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
/* Animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.3s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.3);
}

.modal__body {
    --growth-from: 0.5;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.3s;
}

/* Button style */
.btn {
    min-width: 142px;
    height: 34px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    background-color: var(--white-color);
    align-items: center;
    line-height: 1.6rem;
}

.btn.btn--normal:hover {
    background-color: rgba(0,0,0,0.3);
}

.btn.btn-size-s {
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
    
}

.btn.btn--disabled {
    cursor: default;
    background: #c3c3c3;
    color: #949494;
}

/* Selection */

.select-input {
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
}

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 38px;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    padding: 8px 16px;
    display: none;
    z-index: 1;
}

.select-input__link {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 4px 0;
}

.select-input__link:hover {
    color: var(--primary-color);
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input::after {
    content: "";
    position: absolute;
    top: 90%;
    right: 0;
    left: 0;
    height: 10px;
}

/* pagination item */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-item {
    list-style-type: none;
    margin: 0 14px;
}

.pagination-item__link {
    --height: 30px;
    text-decoration: none;
    font-size: 2rem;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    display: block;
    border-radius: 2px;
}

.pagination-item__icon {
    font-weight: 600;
}

.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item--active .pagination-item__link:hover {
    opacity: 0.9;
}

